{% extends 'base_site.html' %}
{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-4">
    <p><h2>Parabéns {{ subscription.name }}</h2>
    <blockquote>
    <p>sua inscrição foi realizada em
    {{ subscription.created_at|date:"d/m/Y" }}.

    <p>Em breve, entraremos em contato pelo
    {% if subscription.phone %}
    telefone <strong>{{ subscription.phone }}</strong>
    {% else %}
    e-mail <strong>{{ subscription.email }}</strong>
    {% endif %}
    </blockquote>
    </div>
</div>

{% endblock content %}