{% extends "base_site.html" %}
{% load staticfiles %}

{% block jumbotron %}
<img src="{% static "img/logo.png" %}"/>
<p>O evento mais sensacional do ano depois do Dev in Rio!</p>
<p>Você não pode perder esta oportunidade!</p>
<p>Abertura das inscrições no próximo domingo.</p>
<p>Para dúvidas e mais informações entre em contato pelo email <a href="mailto:contato@eventex.com.br?Subject=Contato" target="_top">contato@eventex.com.br</a></p>
{% endblock jumbotron %}

{% block container %}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Bem vindo ao EventeX</h1>

    </div>
</div>
{% endblock container %}
