{% extends "base_site.html" %}
{% load staticfiles %}

{% block masthead %}
    <h3 class="text-muted">Bem vindo ao EventeX</h3>
{% endblock %}

{% block jumbotron %}
<img src="{% static "img/logo.png" %}"/>

<p class="lead">O evento mais sensacional do ano depois do Dev in Rio!</p>
<p class="lead">Você não pode perder esta oportunidade!</p>
<p class="lead">Abertura das inscrições no próximo domingo.</p>

<p><a class="btn btn-lg btn-info" href="mailto:contato@eventex.com.br?Subject=Contato" target="_top">Fale conosco</a></p>
{% endblock jumbotron %}

